.findout-more {
    background-color: $secondary;
    height: 650px;

    .main__text-box {
        padding: 200px;
        display: inline-block;
        position: absolute;
        text-align: center;
    }

    .paragraph--large {
        @include fontDef(52px, $primary);
        font-family: 'Pompiere', cursive;
    }

    .paragraph {
        @include fontDef(20px, #0d0d0d);
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        line-height: 32px;
    }

    .button {
        background-color: $primary;
        @include fontDef(20px, white);
        border: none;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        padding-left: 25px;
        margin: 30px;
        }
}

.add-opt {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    .flex-image1 {
        box-shadow: 30px 30px #FE6F19;
        position: relative;
        bottom: 30px;
    }

    .flex-text1 {
        width: 40%;
        padding-right: 5%;
        padding-top: 100px;

        .paragraph--large {
            @include fontDef(42px, $primary);
            font-family: 'Pompiere', cursive;
            letter-spacing: 1.3px;
        }

        .paragraph {
            @include fontDef(20px, #0d0d0d);
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            line-height: 32px;
        }

        .flex-button1 {
        background-color: #882C07;
        @include fontDef(20px, white);
        border: none;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 15px;
        }                       
    }

    .flex-text2 {
        width: 40%;
        padding-left: 5%;
        padding-top: 80px;
        text-align: right;

        .paragraph--large {
            @include fontDef(42px, $primary);
            font-family: 'Pompiere', cursive;
            letter-spacing: 1.3px;
        }
        .paragraph {
            @include fontDef(20px, #0d0d0d);
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            line-height: 32px;
        }
    }
    
        .flex-button1 {
        background-color: #882C07;
        @include fontDef(20px, white);
        border: none;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 15px;
    }        

    .flex-image2 {
        box-shadow: -30px 30px #FE6F19;
        position: relative;
        top: 30px;
    }
}

.info {
    background-color: $secondary;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 650px;

    .locations {
        width: 40%;
        padding-top: 120px;
        padding-bottom: 30px;

        .paragraph--large {
            display: inline;
            @include fontDef(52px, $primary);
            font-family: 'Pompiere', cursive;
            letter-spacing: 1.6px;
        }
        .paragraph {
            @include fontDef(20px, #0d0d0d);
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            line-height: 32px;
            padding-left: 7%;
        }
    }

    .community {
        width: 40%;
        padding-top: 120px;

        .paragraph--large {
            display: inline;
            @include fontDef(52px, $primary);
            font-family: 'Pompiere', cursive;
            letter-spacing: 1.6px;
        }
        .paragraph {
            @include fontDef(20px, #0d0d0d);
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            line-height: 32px;
            padding-left: 7%;
        }
    }

    .blog {
        width: 40%;
        padding-top: 30px;

        .paragraph--large {
            display: inline;
            @include fontDef(52px, $primary);
            font-family: 'Pompiere', cursive;
            letter-spacing: 1.6px;
        }
        .paragraph {
            @include fontDef(20px, #0d0d0d);
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            line-height: 32px;
            padding-left: 7%;
        }
    }

    .intouch {
        width: 40%;
        padding-top: 30px;

        .paragraph--large {
            display: inline;
            @include fontDef(52px, $primary);
            font-family: 'Pompiere', cursive;
            letter-spacing: 1.6px;
        }
        .paragraph {
            @include fontDef(20px, #0d0d0d);
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            line-height: 32px;
            padding-left: 7%;
        }
    }
}

.banner-image {
    width: 100%;
    text-align: center;
}

.popular {

    height: auto;
    display: inline-block;
    text-align: center;

    .popular-image {
        display: inline-block;
        position: relative;
        max-width: 100%;
        height: auto;
        box-shadow: 30px 30px #FE6F19;
    }

    .popular-textbox {
        display: inline-block;
        width: 50%;
        text-align: left;
        padding-left: 7%;
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .paragraph--large {
        @include fontDef(42px, $primary);
        font-family: 'Pompiere', cursive;
        letter-spacing: 1.3px;
        margin-bottom: 30px;
    }

    .paragraph {
        @include fontDef(20px, $primary);
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        line-height: 32px;
    }

    .flex-button2 {
    background-color: #882C07;
    @include fontDef(20px, white);
    border: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    }      
}

.gallery-images {
    height: 500px;
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; 

    .gallery-image1,
    .gallery-image2,
    .gallery-image3 {
        margin-top: 40px;
        padding: 10px;
    }
}

.footer {
    background-color: #882C07;
    text-align: center;
    .footer-text {
        margin: 0 auto;
        padding: 10px;
        @include fontDef(20px, white);
        font-family: 'Lato', sans-serif;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

img {
    max-width:100%;
    max-height: 100%;
}

p {
    margin: auto;
}

.fas {
    display: inline;
    color: white;
    background-color: $primary;
    padding: 10px;
    border-radius: 50%;
}

.main-container {
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;

    .blog-container {
        width: 60%;
        position: relative;
        float: right;
        bottom: 400px;

        .main-header__main-text {
            @include fontSize(110px);
            width: 350px;
            line-height: 64px;
            display: inline-block;
            padding-bottom: 50px;
        }

        .blog-image{
            box-shadow: -30px 30px #FE6F19;
            position: relative;
        }

        .blog-text-container {
            background-color: white;
            display: inline-block;
            
            .blog-text {
                padding: 50px;
                padding-right: 100px;  
                padding-top: 100px;

                .paragraph--large {
                    @include fontDef(42px, $primary);
                    font-family: 'Pompiere', cursive;
                    letter-spacing: 1.3px;
                }

                .paragraph--small {
                    @include fontDef(20px, #0d0d0d);
                    font-family: 'Lato', sans-serif;
                    font-weight: bold;
                    line-height: 32px;
                    padding-bottom: 30px;
                }

                .paragraph {
                    @include fontDef(20px, #0d0d0d);
                    font-family: 'Lato', sans-serif;
                    font-weight: normal;
                    line-height: 32px;
                }
            }
        }

        .blog-comments {
            padding-top: 50px;

            .paragraph--large {
                @include fontDef(42px, $primary);
                font-family: 'Pompiere', cursive;
                letter-spacing: 1.3px;
            }

            .comment-text {
                display: inline-block;
                width: 80%;
                padding: 20px;

                .paragraph--small {
                    @include fontDef(20px, #0d0d0d);
                    font-family: 'Lato', sans-serif;
                    font-weight: bold;
                    line-height: 32px;
                }

                .paragraph {
                    @include fontDef(20px, #0d0d0d);
                    font-family: 'Lato', sans-serif;
                    font-weight: normal;
                    line-height: 32px;
                }
            }
        }
        
        .form-container {
            display: flex;
            flex-direction: row;
            height: 250px;
            padding-top: 80px;
            padding-right: 50px;

            .message-form {
                height: 300px;
                width: 100%;
            }

            .name-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                align-content: flex-start;
                padding-bottom: 70px;
                padding-top: 30px;
            }

            .name-item > input {
                border: none;
                border-bottom: 2px solid #FE6F19;
                @include fontDef(20px, #0d0d0d);
                width: 45%;
                background-color: transparent;
            }

            .message-item {
                padding-bottom: 50px;
                textarea {
                    border: 2px solid #FE6F19;
                    width: 100%;
                    height: 250px;
                    @include fontDef(20px, #0d0d0d);
                    background-color: transparent;
                }
            }

            .submit-btn > button {
                border: none;
                width: 100%;
                background-color: $primary;
                @include fontDef(20px, white);
                font-family: 'Lato', sans-serif;
                font-weight: normal;
                line-height: 32px;
                letter-spacing: 1px;
                padding: 10px;
            }

        }
    }
}

.side-container {
    width: 35%;
    padding-top: 100px;

    .top-image-container {
        position: absolute;
        bottom: -60px;
    }

    .side-text-container {
        background-color: white;
        display: inline-block;
        padding-top: 450px;
        width: 80%;
        float: right;
        padding-right: 20px;
        padding-left: 30px;
        padding-bottom: 20px;

    }

    .paragraph--large {
        @include fontDef(30px, $primary);
        font-family: 'Pompiere', cursive;
        letter-spacing: 1.3px;
    }

    .paragraph {
        @include fontDef(20px, #0d0d0d);
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        line-height: 32px;
    }
}

.get-intouch {
    background-color: $secondary;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .contact-info {
        display: inline-block;
        width: 25%;
        padding-top: 150px;
        padding-right: 50px;
        height: 350px;

        a {
            text-decoration: none;
            color: inherit;
        
            .fab {
                display: inline;
                color: $primary;
                padding: 10px;
                font-size: 25px;
            }
        }

        .paragraph--large {
            @include fontDef(42px, $primary);
            font-family: 'Pompiere', cursive;
            letter-spacing: 1.3px;
            padding-top: 30px;
            padding-bottom: 20px;
        }

        .paragraph {
            @include fontDef(20px, #0d0d0d);
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            line-height: 32px;
        }
    }

    .form-container {
        display: inline-block;
        width: 60%;
        position: relative;
        bottom: 300px;

        .form-header {
            @include fontSize(80px);
            color: $primary;
            display: inline-block;
            padding-bottom: 20px;
        }

        .message-form {
            background-color: white;
            padding: 50px;
            box-shadow: -30px 30px #FE6F19;
            height: 600px;

            .name-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                align-content: flex-start;
                padding-bottom: 70px;
                padding-top: 30px;
            }

            .name-item > input {
                border: none;
                border-bottom: 2px solid #FE6F19;
                @include fontDef(20px, #0d0d0d);
                width: 45%;
            }

            .message-item {
                padding-bottom: 50px;
                textarea {
                    border: 2px solid #FE6F19;
                    width: 100%;
                    height: 250px;
                    @include fontDef(20px, #0d0d0d);
                }
            }

            .submit-btn > button {
                border: none;
                width: 100%;
                background-color: #882C07;
                @include fontDef(20px, white);
                font-family: 'Lato', sans-serif;
                font-weight: normal;
                line-height: 32px;
                letter-spacing: 1px;
                padding: 10px;
            }
        }
    }
}